.root{

}
.content1{
  position: absolute;
  margin-top: 8rem;
  margin-left: 55rem;
}
.contents1{
  margin-left: 25rem;
}
.box{
  width: 70%;
  position: absolute;
}
.evan{
  position: absolute;
  margin-top: 9rem;
  border-radius: 15px;
  margin-left:31rem;
  box-shadow: 5px 5px #F3AF34;;
}
.text1{
  position: absolute;
  margin-top: 9rem;
  margin-left: 36rem;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #FFB548;
}
.text2{
  position: absolute;
margin-top: 11rem;
margin-left: 36rem;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: justify;
color: #FFFFFF;
opacity: 0.5;
}
.text3{
  position: absolute;
  margin-top: 13rem;
  margin-left: 36rem;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
}
.text4{
  position: absolute;
  margin-top: 16rem;
  margin-left: 36rem;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.5;
}
.twitter1{
  position: absolute;
  width: 2%;
  margin-top: 9rem;
  margin-left: 80rem;
  
}